body {
  background-image: url('../img/geometry2.png');
}

a {
  cursor: pointer;
}

.title {
  font-family: 'Lobster Two', cursive;
}

.page-header img {
  margin-right: 1%;
  max-height: 35px;
}

.panel-default:hover {
  background-color: lightgray;
}

.form-row {
  margin-top: 1em;
}
